

.img-container__img-box{
  background-image: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2474&q=80");
  width: 70px;
  height: 500px;
  border-radius: 50px;
  margin: 5px;
  position: relative;
}

.panel__text {
  position: absolute;
  top: 40px;
  left: 5px;
  /* opacity: 0; */
}

.active {
  width: 400px;
  transition: width 1.5s ease-in;
  opacity: 1;
}

